
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .forselect{
        display: none;
    }
   .forunderlyingimg36663{
    display: none;
   }
   .letusbegin{
    width: 100px;
   }
   .remover{
    display: none;
   }
    
.fa-burger{
    visibility: visible;
}
   .remove{
    display: none;
}
.center{
    text-align: center;

}
.fordisplayflexrow{
    display: flex;
    width: 70%;
    margin: auto;

}

.forrows{
    display: flex;
    flex-direction: column;
}
  
.justwow{
    display: flex;
    gap: 0.62rem;
    flex-direction: column;
}

.nexttoend{
    display: flex;
    flex-direction: column;
}
.togrow{
    flex-grow: 1;
    padding-bottom: 0.65rem;
    margin-bottom: 0.85rem;
}
.beforefooter{
    display: flex;
    flex-direction: column;
}

.beforefooter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;

}
.atextandimg{
    display: flex;
    flex-direction: column;
   
}
.tuche{
    flex-grow: 1;
    
}
  
.manipulator{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: start;
    gap: 3.67rem;
/*     flex-wrap: wrap;
 */    width: 100%;
}
.endgames{
    flex-grow: 1;
    flex-basis: 50rem;
    flex-direction: column;
    display: flex;
}
.fordifferentlinks31{
    display: flex;
    flex-grow: 2;
    flex-basis: 5rem;
    text-align: center;
     }

.lastone{
    display: flex;
    flex-direction: column;
    text-align: left;

    
}
 
.linksandimages{
    margin-right: 33rem;
}
.doneanddusted{
    margin-left:-13rem;
    padding-bottom: 2rem;
    
}
 
